$bg-body: #f4f4f4;
$bg-block: #fff;
$bg-block-sale: #F5EBDE;
$bg-btn: linear-gradient(to top, #9d4f17, #cb6211);
$bg-btn-hover: linear-gradient(to top, #FBCF40, #f8e733);
$btn-text: #cb6211;
$item-text: #fff;
$bg-aside: #e6e6e6;
$bg-logo: #b5b5b5;
$font-light: #787878;
$color-link: #007bff;