@import "colors";
@import "fonts";


body {
  background: $bg-body;
}

aside {
  background: $bg-aside;
  padding: 2rem !important;
}

ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

h3 {
  font-size: 1.55rem !important;
}


//header
.main-menu {
  margin: 1rem 0;

  &__menu ul li {
    background: $bg-btn;
    border-radius: .15rem;
  }

  & a {
    color: $item-text !important;
    font-weight: $font-bold;
  }

  & a:hover {
    background: $bg-btn-hover;
    color: $btn-text !important;
    font-weight: $font-bold;
  }

}

a.active-btn {
  background: $bg-btn-hover;
  color: $btn-text !important;
  font-weight: $font-bold;
  border-radius: .15rem;
}

.top-logo {
  background: $bg-logo;
  color: $item-text;
  text-align: center;
  font-weight: $font-bold;
  padding: .3rem 0;
}

.top-contacts {
  text-align: right;
  color: $font-light;

  &__phone a {
    color: $font-light;
    font-weight: $font-bold;
    font-size: 1.3rem;
  }
  & span {
    color: black;
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.top-contacts p {
  margin: .3rem 0 0 !important;
}


//верхний блок - баннер, открытия групп и акции
.course-link a {
  display: block;
  padding: 4%;
  background: $bg-btn;
  color: $item-text;
  font-weight: $font-bold;
  font-size: 1.3rem;
  text-align: center;
  border-radius: .5rem;

  &:hover {
    background: $bg-btn-hover;
    color: #cb6211;
  }
}



.top-info {
  background: $bg-block;

  &__img img {
    margin: 0 auto;
  }

  .top-info__info {
    background: $bg-block;

    .top-info__info-sale {
      background: $bg-block-sale;
      padding: 2rem;

      .text-sale {
        margin: 1rem 0;
        color: #b28a65;
        font-weight: $font-bold;
      }
      & span {
        color: red;
      }

    }

    .top-info__open-group {
      padding: 2rem;

      .open-group {
        line-height: 1rem;

        .open-group__item {
          margin: 2rem 0;

          .open-group__item-header {
            color: $btn-text;
            font-weight: $font-bold;
          }

        }

      }

    }

  }

}



//блок - популярные курсы
.popular-courses__item {
  padding: 2rem;

  &-header h4 {
    display: block;
    padding: 1rem;
    background: $bg-btn-hover;
    text-align: center;
    color: $btn-text;
    font-weight: $font-bold;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin-bottom: 1.1rem;
  }

  &-link:hover {
    text-decoration: none;
    border-bottom: 1px solid $color-link;
    color: $color-link;
  }

  & ul li {
    margin: .4rem 0;
  }

}


//текст на главной странице - section main-info
.main-info {
  padding: 2rem;
  background: $bg-block;

  & h1 {
    font-size: 1.75rem;
  }
}


//aside
.reviews {
  margin-top: 1.5rem;

  & .review-item {
    margin: 2rem 0;

    & .review-name {
      font-size: 1rem;
      font-weight: $font-bold;
    }

  }

}

//footer
footer {
  padding: 2rem 0;

  .footer-nav {
    padding-left: 0;
  }

  .footer-nav-item {
    margin-right: .7rem;
    font-size: .9rem;
  }
}

//страница курсов
.time {
  background: $bg-body;
  color: $text-inner-page;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
}

.enrollment {
  &__phone a {
    color: $btn-text;
    font-size: 2rem;
    font-weight: 700;
  }
  &__link a {
    font-size: 1.2rem;
  }
}
.annotation {
  background: $bg-btn-hover;
  border-radius: .5rem;
}



// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .main-menu {
    & a {
      font-size: .9rem;
    }
  }

  .popular-courses {
    &__item:last-child {
      h4 {
        padding-bottom: 1.7rem;
        padding-top: 1.7rem;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  footer {
    .footer-nav {
      flex-wrap: wrap;
    }
  }

  .popular-courses {
    &__item:last-child {
      h4 {
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    font-size: .8rem;
  }

  h3 {
    font-size: 1.1rem !important;
  }

  .top-contacts {
    margin-bottom: 1rem;
  }

  .top-info {
    .top-info__info {
      .top-info__info-sale {
        .course-link a {
          padding: 2%;
          font-size: 1.1rem;
        }
      }
    }
  }

  .popular-courses__item ul {
    padding-left: 0.5rem;
  }
  .popular-courses__item-header h4 {
    padding: .2rem;
    font-size: 1.1rem;
  }

  .main-info {
    & h1 {
      font-size: 1.25rem;
    }
  }

  footer {
    .footer-nav {
      flex-direction: column;
    }
    .footer-nav-item {
      margin-bottom: .3rem;
      font-size: .7rem;
    }
  }

}

