body {
  background: #f4f4f4;
}

aside {
  background: #e6e6e6;
  padding: 2rem !important;
}

ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

h3 {
  font-size: 1.55rem !important;
}

.main-menu {
  margin: 1rem 0;
}
.main-menu__menu ul li {
  background: linear-gradient(to top, #9d4f17, #cb6211);
  border-radius: 0.15rem;
}
.main-menu a {
  color: #fff !important;
  font-weight: 700;
}
.main-menu a:hover {
  background: linear-gradient(to top, #FBCF40, #f8e733);
  color: #cb6211 !important;
  font-weight: 700;
}

a.active-btn {
  background: linear-gradient(to top, #FBCF40, #f8e733);
  color: #cb6211 !important;
  font-weight: 700;
  border-radius: 0.15rem;
}

.top-logo {
  background: #b5b5b5;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 0.3rem 0;
}

.top-contacts {
  text-align: right;
  color: #787878;
}
.top-contacts__phone a {
  color: #787878;
  font-weight: 700;
  font-size: 1.3rem;
}
.top-contacts span {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
}

.top-contacts p {
  margin: 0.3rem 0 0 !important;
}

.course-link a {
  display: block;
  padding: 4%;
  background: linear-gradient(to top, #9d4f17, #cb6211);
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.5rem;
}
.course-link a:hover {
  background: linear-gradient(to top, #FBCF40, #f8e733);
  color: #cb6211;
}

.top-info {
  background: #fff;
}
.top-info__img img {
  margin: 0 auto;
}
.top-info .top-info__info {
  background: #fff;
}
.top-info .top-info__info .top-info__info-sale {
  background: #F5EBDE;
  padding: 2rem;
}
.top-info .top-info__info .top-info__info-sale .text-sale {
  margin: 1rem 0;
  color: #b28a65;
  font-weight: 700;
}
.top-info .top-info__info .top-info__info-sale span {
  color: red;
}
.top-info .top-info__info .top-info__open-group {
  padding: 2rem;
}
.top-info .top-info__info .top-info__open-group .open-group {
  line-height: 1rem;
}
.top-info .top-info__info .top-info__open-group .open-group .open-group__item {
  margin: 2rem 0;
}
.top-info .top-info__info .top-info__open-group .open-group .open-group__item .open-group__item-header {
  color: #cb6211;
  font-weight: 700;
}

.popular-courses__item {
  padding: 2rem;
}
.popular-courses__item-header h4 {
  display: block;
  padding: 1rem;
  background: linear-gradient(to top, #FBCF40, #f8e733);
  text-align: center;
  color: #cb6211;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  margin-bottom: 1.1rem;
}
.popular-courses__item-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #007bff;
  color: #007bff;
}
.popular-courses__item ul li {
  margin: 0.4rem 0;
}

.main-info {
  padding: 2rem;
  background: #fff;
}
.main-info h1 {
  font-size: 1.75rem;
}

.reviews {
  margin-top: 1.5rem;
}
.reviews .review-item {
  margin: 2rem 0;
}
.reviews .review-item .review-name {
  font-size: 1rem;
  font-weight: 700;
}

footer {
  padding: 2rem 0;
}
footer .footer-nav {
  padding-left: 0;
}
footer .footer-nav-item {
  margin-right: 0.7rem;
  font-size: 0.9rem;
}

.time {
  background: #f4f4f4;
  color: #656565;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.enrollment__phone a {
  color: #cb6211;
  font-size: 2rem;
  font-weight: 700;
}
.enrollment__link a {
  font-size: 1.2rem;
}

.annotation {
  background: linear-gradient(to top, #FBCF40, #f8e733);
  border-radius: 0.5rem;
}

@media (max-width: 1199.98px) {
  .main-menu a {
    font-size: 0.9rem;
  }

  .popular-courses__item:last-child h4 {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
}
@media (max-width: 991.98px) {
  footer .footer-nav {
    flex-wrap: wrap;
  }

  .popular-courses__item:last-child h4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1.1rem !important;
  }

  .top-contacts {
    margin-bottom: 1rem;
  }

  .top-info .top-info__info .top-info__info-sale .course-link a {
    padding: 2%;
    font-size: 1.1rem;
  }

  .popular-courses__item ul {
    padding-left: 0.5rem;
  }

  .popular-courses__item-header h4 {
    padding: 0.2rem;
    font-size: 1.1rem;
  }

  .main-info h1 {
    font-size: 1.25rem;
  }

  footer .footer-nav {
    flex-direction: column;
  }
  footer .footer-nav-item {
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
