<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<footer class="container-fluid" th:fragment="footer">
    <div class="row col copyright justify-content-center text-center">Copyright 2019. &nbsp;Кафедра бухгалтерского учета при Институте дополнительного образования</div>
    <div class="row col justify-content-center">
        <ul class="footer-nav d-flex mt-1">
            <li class="footer-nav-item"><a href="">Главная</a></li>
            <li class="footer-nav-item"><a href="">Курсы</a></li>
            <li class="footer-nav-item"><a href="">О кафедре</a></li>
            <li class="footer-nav-item"><a href="">Отзывы</a></li>
            <li class="footer-nav-item"><a href="">Контакты</a></li>
            <li class="footer-nav-item"><a href="">Политика конфиденциальности</a></li>
            <li class="footer-nav-item"><a href="">Пользовательское соглашение</a></li>
        </ul>
    </div>
</footer>

</html>