<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="headTags">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Центр обучения бухгалтеров при Институте дополнительного образования</title>
    <!-- до 150 символов -->
    <meta name="description" content="Приглашаем всех желающих пройти курсы бухгалтерского учета! Скидки до 30%, уникальные методики обучения бухучету!">
    <meta name="copyright" content="Центр обучения бухгалтеров при Институте дополнительного образования">
    <!--  Иконка  -->
<!--    <link rel="apple-touch-icon" href="/apple/icon.png">-->
    <!-- OG-protocol -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{'/css/bootstrap.css'}">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css" th:href="@{'/css/bootstrap-grid.css'}">
    <!--  стили  -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{'/css/style.css'}">
</head>

</html>