<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{head :: headTags}">
</head>
<body>
<div class="container wrapper">
<!--  header  -->
    <header class="container-fluid" th:replace="~{header :: header}">
    </header>
<!--  main  -->
    <main class="container-fluid">
<!--    top banner and news-block    -->
        <div class="container-fluid top-info">
            <div class="row col d-none d-lg-block top-info__img"><img src="/img/main-pic.jpg" alt="курсы бухгалтерского учета" class="w-100"></div>
            <section class="row top-info__info">
                <div class="col-lg-4 col-md-4 top-info__info-sale">
                    <div class="course-link"><a href="">Посмотреть курсы</a></div>
                    <div class="text-sale">На нашей кафедре <span>до 29 ноября 2019 г.</span> действуют скидки до 30% на все курсы!</div>
                </div>
                <div class="col-lg-8 col-md-8 top-info__open-group">
                    <h3 class="top-info__open-group-header">Открытия групп на кафедре</h3>
                    <div class="open-group">
                        <div class="open-group__item">
                            <p class="open-group__item-header">Lorem ipsum dolor.</p>
                            <p class="open-group__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi?</p>
                        </div>
                        <div class="open-group__item">
                            <p class="open-group__item-header">Lorem ipsum dolor.</p>
                            <p class="open-group__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi?</p>
                        </div>
                        <div class="open-group__item">
                            <p class="open-group__item-header">Lorem ipsum dolor.</p>
                            <p class="open-group__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi?</p>
                        </div>
                        <div class="open-group__item">
                            <p class="open-group__item-header">Lorem ipsum dolor.</p>
                            <p class="open-group__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi?</p>
                        </div>
                        <div class="open-group__item">
                            <p class="open-group__item-header">Lorem ipsum dolor.</p>
                            <p class="open-group__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi?</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
<!--    /top banner and news-block    -->
<!--    popular courses    -->
        <section class="row popular-courses">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 popular-courses__item">
                <div class="popular-courses__item-header">
                    <h4>Курсы для начинающих</h4>
                </div>
                <ul>
                    <li th:each="course : ${courses}">
                    <a class="popular-courses__item-link" th:text="${course.title}"></a></li>
                </ul>
                <div class="popular-courses__all">
                    <a class="popular-courses__item-link" href="">Курсы направления >></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 popular-courses__item">
                <div class="popular-courses__item-header">
                    <h4>Курсы для профессионалов</h4>
                </div>
                <ul>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                </ul>
                <div class="popular-courses__all">
                    <a class="popular-courses__item-link" href="">Курсы направления >></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 popular-courses__item">
                <div class="popular-courses__item-header">
                    <h4>Курсы 1С</h4>
                </div>
                <ul>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="" class="popular-courses__item-link">Lorem ipsum dolor sit amet.</a></li>
                </ul>
                <div class="popular-courses__all">
                    <a class="popular-courses__item-link" href="">Курсы направления >></a>
                </div>
            </div>
        </section>
<!--    /popular courses    -->
<!--    aside    -->
        <div class="row">
            <aside class="col-lg-4 col-md-4 d-none d-lg-block">
                <img src="img/35-1222ban_serp-30newyear.png" alt="баннер">
                <div class="reviews">
                    <h3>Отзывы</h3>
                    <div class="review-item">
                        <p class="review-name">Vasya1</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                    <div class="review-item">
                        <p class="review-name">Vasya2</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                    <div class="review-item">
                        <p class="review-name">Vasya3</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                    <div class="review-item">
                        <p class="review-name">Vasya4</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                    <div class="review-item">
                        <p class="review-name">Vasya5</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                    <div class="review-item">
                        <p class="review-name">Vasya6</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cupiditate
                            distinctio earum harum modi numquam!</p>
                    </div>
                </div>
            </aside>
<!--     /aside       -->
<!--      main section      -->
            <article class="col-lg-8 col-md-12 main-info">
                <h1>Курсы бухгалтеров и 1С для начинающих и профессионалов</h1>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur dolorum esse harum iste omnis quam, tempora. Distinctio quae recusandae tempora! Ad beatae delectus deserunt, dolor dolore earum ex fugiat id, incidunt iusto maiores minima molestias nostrum nulla perferendis quia quidem quisquam rem repellendus sed sequi temporibus velit veniam voluptate.</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur deserunt dolores, eaque
                        eius est ex explicabo facere facilis fugit id labore libero molestiae mollitia necessitatibus
                        odit, omnis perferendis quod repellendus reprehenderit sequi ut veniam. At aut consequuntur
                        eligendi eveniet, laudantium nihil placeat repellendus. Eveniet ipsam porro ratione vitae
                        voluptatem!</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, modi.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, modi.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, modi.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, modi.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, modi.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa cum dolores fugiat ipsum
                        pariatur quaerat quas reprehenderit sit? Aliquid consequatur deleniti eveniet libero nobis, non
                        odit omnis soluta vero!</p>
                </div>
            </article>
<!--     /main section       -->
        </div>
    </main>
<!--  footer  -->
    <footer class="container-fluid" th:replace="~{footer :: footer}">

    </footer>
</div>




<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="../static/js/bootstrap.js" th:src="@{'/js/bootstrap.js'}"></script>
</body>
</html>